.bck{
   background-color: black;
   color: white;
}
#red{
    background-color: red;
}
#og{
    background-color: orange;
}
#gr{
    background-color: grey;
}
#wt{
    background-color: azure;
    color: black;

}